urllib3>=1.15
six>=1.10
certifi
python-dateutil
future
pyyaml
requests
-e git+https://github.com/riseml/config-parser.git@cd42fb7cab8b24ebabe8c7825a69e46ae09eef52#egg=config-parser
jsonschema
websocket-client
rollbar
stringcase
